@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

/* Variables */
:root {
  --color-bg: #121212;
  --color-surface: #1E1E1E;
  --color-highlight: #B5179E;
  --color-text: #E0E0E0;
  --color-muted: #2C2C2C;
  --font-body: 'Urbanist', sans-serif;
}

a {
  color: var(--color-highlight);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-highlight);
  border-radius: 10px;
}